<div class="card bg-dark row-space-top">
    <div class="card-body">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-3"><b>Gutschein</b></div>
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Code eintippen">
                </div>
                <div class="col-3">{{promo_code}}</div>
                <div class="col-3">
                    <button class="btn btn-warning">Einlösen</button>
                </div>
            </div>
        </div>
    </div>
</div>