<div class="row row-space-top">
    <div class="col-6">
        <div class="card bg-dark">
            <div class="card-body text-center">
                <button (click)="clickMinus()" class="btn btn-warning marg-right">-</button>
                <span class="marg-right">{{qty}}</span>
                <button (click)="clickPlus()" class="btn btn-warning">-</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card bg-dark">
            <div class="card-body text-center">
                <button (click)="clickAddToCart()" class="btn btn-warning">Ins Wage</button>
            </div>
        </div>
    </div>
</div>